body {
  font-family: 'Roboto Mono', monospace;
}

.fondo {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00866dff;
  background: rgb(0, 134, 109);
  background-size: cover;
  z-index: -1;
}

.fotoStock {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../public/StockLogic.png');
  width: 250px;
  height: 90px;
}

.login {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  height: 460px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTextLogin {

  outline: 0;
  background: #c9c7c7;
  width: 200px;
  border: 0;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.inputTextLogin::placeholder {
  text-align: center;
  color: white;
}

.inputTextLogin:hover {
  background-position: 100% 0;
}

.inputTextRegister {
  height: 30px;
  width: 200px;
  margin: 10% auto 10px;
  display: block;
  align-items: center;
  border: 3px solid black;
  background: linear-gradient(45deg, black, gray);
  background-size: 200% 100%;
  transition: background-position 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  border-radius: 100px;
  color: white;
  font-size: 15px;
}

.sumbmit {
  border: 3px solid black;
  border-radius: 100px;
  margin: 10% 10px 10%;
  background: linear-gradient(45deg, black, gray);
  cursor: pointer;
  width: 200px;
  height: 35px;

  color: white;
}

.Link {
  color: white;

  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modalAdmin {
  position: absolute;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #64b2e6;
}

.containerCheck {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 2px solid #243a3b;
  background-color: #17181f;
  height: 20%;
  min-height: 20%;
  width: 100%;
  z-index: -1;
}

.fondo3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #004443;
  background-size: 150px;
  background-position: center;
}

.fondo3-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0d8;
  background-size: 150px;
  background-position: center;

}

.contenedor {
  flex: 1;
  display: flex;
}

.izquierda {
  border-right: 2px solid #243a3b;
  background-color: #002e34;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.medioizquierda {
  width: 50%;
  height: 50%;
  align-self: flex-end;
  margin-top: auto;
  display: flex;
  margin-right: auto;
  flex-direction: column;
}

.btn {
  align-self: flex-end;
  margin-top: -240px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  justify-content: end;
  margin-right: auto;
  background-image: url('../../public/menu.png');
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.desplegable {
  margin-top: -200px;
  left: 0;
  position: absolute;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: auto;
  align-self: flex-end;
  background-color: #004443;
  height: 20%;
  width: 10%;
  color: aliceblue;
  animation: desplegar 0.3s ease-in-out forwards;

}

.desplegable.visible {
  height: 20%;
}

@keyframes desplegar {
  from {
    height: 0;
  }

  to {
    height: 20%;
  }
}

.fotoStockInventario {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../public/perfil.tif');
  width: 250px;
  height: 90px;
  position: relative;
}

.perfil {
  float: left;
  border-radius: 30px;
  margin-top: 2.5%;
  margin-left: 4.5%;
  height: 50%;
  aspect-ratio: 1;
  background-position: center;
  background-image: url('../../public/usuario.png');
  background-size: cover;

}

.resto {
  height: 500px;
  width: 100%;

}

.table {
  height: 463px;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 1%;
}

td {
  height: 10px;
  width: 100px;
  border: 3px solid #17181f;
  background-color: #ffffff15;
}

.h1 {
  color: white;
  font-size: 120%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.izquierda .h1 {
  margin-right: -25px;
}

.izquierda-white .h1 {
  margin-right: -25px;
}

.H1 {
  top: 0;
  font-size: 150%;
  position: absolute;
}

.h1PRES {
  color: white;
  font-size: 220%;
  position: relative;
  text-align: justify;
  margin-right: -25px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.h2ART {
  color: white;
  font-size: 160%;
  position: relative;
  text-align: justify;
  margin-right: -25px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.li {
  display: flex;
  cursor: pointer;
  align-self: flex-start;
  list-style: none;
  font-size: 18px;
  color: white;
  position: relative;
  top: -20px;
  font-family: 'Roboto Mono', monospace;

}

.li:hover {
  color: black;
}

.contenedor2 {
  margin-left: 5%;
  margin-top: 2.5%;
  background-size: cover;
  height: 45%;
  width: 60%;
  float: left;
}

.botoncabe1 {
  float: left;
  background: #04846c url(../../public/mas-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe1:hover,
.botoncabe2:hover,
.botoncabe3:hover,
.botoncabe4:hover,
.botoncabe5:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(80, 80, 80, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(80, 80, 80, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(80, 80, 80, 0.72);
  height: 100.5%;
  width: 6.7%;
}

.botoncabe2 {
  float: left;
  margin: 0 2.5%;
  background: #04846c url(../../public/equis-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe3 {
  float: left;
  margin: 0 2.5% 0 0;
  background: #04846c url(../../public/pincel-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe4 {
  float: left;
  margin: 0 2.5% 0 0;
  background: #04846c url(../../public/insertable.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe5 {
  float: left;
  margin: 0 2.5% 0 0;
  background: #04846c url(../../public/lupa.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.modal-overlay {
  border: #000000 3px solid;
  width: 50%;
  height: 50%;
  background: #77cca4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.modal-overlay2 {
  border: #000000 3px solid;
  width: 50%;
  height: 50%;
  background: #77cca4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.modalError {
  background-size: cover;
  height: 10px;
  width: 10px;
  cursor: pointer;

}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background-size: cover;
  cursor: pointer;
  background-image: url(../../public/cerrar.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;


}


.close-button:hover {
  background-image: url(../../public/cerrarhover.png);
}

.check {
  display: inline-block
}

.inputt {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border: 3px solid #04846d91;
  background-color: #17181f;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  text-align: center;
  appearance: none;
}

.inputt:hover {
  background-color: rgb(45, 63, 57);
}

.inputt::placeholder {
  text-align: center;
  color: rgb(255, 255, 255);

  font-size: 15px;
}

.modal-content button {
  margin-top: 10px;
}

.contenedor3 {
  height: 100%;
  width: 100%;
  background-color: #17181f65;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.li2 {

  display: flex;
  position: relative;
  left: 30px;
  top: 10px;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
  list-style: none;
}

.lista {
  background-size: contain;
  border-color: rgb(22, 1, 4);
  margin-left: 0;
  width: auto;
  height: 25px;
  min-width: 170px;
  text-align: center;
  font-style: 'Roboto Mono', monospace;
  font-size: 18px;
  color: rgb(0, 0, 0);
  cursor: default;
  border-radius: 10px;
}

.lista2 {
  background-size: contain;
  border-color: rgb(22, 1, 4);
  margin-left: 0;
  width: auto;
  min-width: 155px;
  height: 25px;
  text-align: center;
  font-style: 'Roboto Mono', monospace;
  font-size: 18px;
  color: rgb(0, 0, 0);
  cursor: default;
}

.resto table {
  border-collapse: collapse;
}

.loading-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: fixed;
  background-color: rgb(129, 163, 157);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-loader {

  width: 100px;
  height: 100px;
  display: grid;

}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #04836c 92%, #001a0600);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 0.8s infinite;

}

.custom-loader::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear
}

@keyframes s2 {
  100% {
    transform: rotate(.5turn)
  }
}

option {
  height: 20%;
  width: 20%;
}

.escondido {
  color: #ffff;
  text-align: center;
  font-size: x-large;
}

.escondido2 {
  margin-bottom: none;
  color: #ffff;
  font-size: large;
}

.selec {
  border: 3px solid #04846d91;
  background-color: #17181f;
  color: rgb(255, 255, 255);
  margin-bottom: 3%;
  border-radius: 100px;
  width: 150px;
  height: auto;
  text-align: center;
  appearance: none;
}

.selec-white {
  background-color: #5c121d;
  color: #ffff;
  margin-bottom: 3%;
  border-radius: 100px;
  width: 150px;
  height: auto;
  text-align: center;
  appearance: none;
}

.selec:hover {
  background-color: rgb(45, 63, 57);
}

.selec-white:hover {
  background-color: #741b2a;
}

.botonto {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border: 3px solid #17181f;
  background-color: #04846d91;
  border-radius: 100px;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

.botonto:hover {
  background-color: #04846c;
}

option {
  height: 20%;
  width: 20%;
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;

  color: black
}

.fotoStock {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../public/StockLogic.png');
  width: 250px;
  height: 90px;
}

.botom {
  margin-top: 10px;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  outline: 0;
  background: #00866dff;
  width: 200px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  pointer-events: 1;
}

.botom:hover {
  background: #03AB8B;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(145, 145, 145, 1);
  -moz-box-shadow: 0px 0px 17px 0px rgba(145, 145, 145, 1);
  box-shadow: 0px 0px 17px 0px rgba(145, 145, 145, 1);
}

.admin {
  text-align: center;
  flex-direction: column;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
}

.sino {
  text-align: center;
  flex-direction: column;
  font-size: large;

}

.text {
  margin-top: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
}

.absolute {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url('../../public/descargar-removebg-preview.png');
  background-size: cover;
  background-position: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.desplegable2 {
  top: 40px;
  right: 10px;
  position: absolute;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: auto;
  align-self: flex-end;
  align-items: center;
  background-color: #004443;
  height: 250px;
  width: 500px;
  animation: desplegar 0.3s ease-in-out forwards;
  opacity: 0;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.desplegable2 {
  transform: scaley(1);
}

.desplegable2.visible {
  height: 40%;

}

.desplegable2::-webkit-scrollbar {
  width: 10px;
}

.desplegable2::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}

.desplegable2::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

@keyframes desplegar {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 300px;
  background-color: #002e34;
  position: absolute;
  top: 16%;
  left: 45%;
  border-radius: 10px;
  overflow: visible;
}

.modalError-white {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 300px;
  background-color: #069442;
  position: absolute;
  top: 16%;
  left: 45%;
  border-radius: 10px;
  overflow: visible;
}

.filter {
  padding: 8px 25px;
  background-color: #04846c;
  border: 0.5px solid black;
  float: left;
  margin-top: 13px;
  margin-right: 20px;
  width: 200px;
  color: #ffff;
  height: 30px;
  border-radius: 12px;
  position: relative;
  background-image: url('../../public/lupa.png');
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.filter::placeholder {
  text-align: center;
  color: white;

}

.filter:hover {
  background-color: #84cc9c;
}

.selec2 {
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  background-color: #04846c;
  color: #ffff;
  margin-bottom: 3%;
  border-radius: 15px;
  width: 150px;
  height: 20px;
  text-align: center;
  appearance: none;
  border-color: black;
}

.selec2:hover {
  background-color: #84cc9c;
}

.Error {
  text-align: center;
  color: white;

}

.Error2-white {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5em;
  font-size: 20px;
}

.Error2 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5em;
  font-size: 20px;
}

/* Estilo base del toggle button */
.toggle-checkbox {
  display: none;
  /* Ocultar el checkbox predeterminado */
}

/* Estilo del botón */
.toggle-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  left: 91%;
  top: 1.3%;
}

/* Estilo del círculo (marcado) */
.toggle-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s, background-color 0.2s;
}

/* Cambiar el fondo y el círculo cuando está marcado (activado) */
.toggle-checkbox:checked+.toggle-label {
  background-color: #000;
  border-color: #000;
}

.toggle-checkbox:checked+.toggle-label::before {
  transform: translateX(30px);
  background-color: #fff;
}

.modal-overlay-white {
  border: #020000 3px solid;
  width: 50%;
  height: 50%;
  background: #069442;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.modal-overlay2-white {
  border: #000000 3px solid;
  width: 50%;
  height: 50%;
  background: #069442;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputt-white {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  border: 3px solid rgb(53, 3, 3);
  background-color: rgb(187, 112, 112);
  border-radius: 100px;
  color: rgb(0, 0, 0);

  text-align: center;
}

.selec-white {
  border: #000000 3px solid;
  background-color: #77cca4;
  color: #000000;
  margin-bottom: 3%;
  border-radius: 100px;
  width: 150px;
  height: auto;
  text-align: center;
  appearance: none;
}

.filter-white {
  padding: 8px 25px;
  background-color: #069442;
  border: 0.5px solid #45a564;
  float: left;
  margin-top: 13px;
  margin-right: 20px;
  width: 200px;
  color: #ffff;
  height: 30px;
  border-radius: 12px;
  position: relative;
  background-image: url('../../public/lupa.png');
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.filter-white:hover {
  background-color: #4cc07d;
}

.selec2-white {
  margin-left: 20px;
  margin-top: 20px;
  position: absolute;
  background-color: #069442;
  color: #ffff;
  margin-bottom: 3%;
  border-radius: 15px;
  width: 150px;
  height: 20px;
  text-align: center;
  appearance: none;
  border-color: #45a564;
}

.selec2-white:hover {
  background-color: #4cc07d;
}

.filter-white::placeholder {
  text-align: center;
  color: #ffffff;

}

.izquierda-white {
  background-color: #069442;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #03692e;
}

.botoncabe1-white {
  float: left;
  background: #069442 url(../../public/mas-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;

}

.botoncabe2-white {
  float: left;
  margin: 0 2.5%;
  background: #069442 url(../../public/equis-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe3-white {
  float: left;
  margin: 0 2.5% 0 0;
  background: #069442 url(../../public/pincel-removebg-preview.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe4-white {
  float: left;
  margin: 0 2.5% 0 0;
  background: #069442 url(../../public/insertable.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe5-white {
  float: left;
  margin: 0 2.5% 0 0;
  background: #069442 url(../../public/lupa.png) center/40px no-repeat;
  height: 100%;
  width: 6.5%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 210px;
}

.botoncabe1-white:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  height: 100.5%;
  width: 7%;

}

.botoncabe2-white:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  height: 100.5%;
  width: 7%;

}

.botoncabe3-white:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  height: 100.5%;
  width: 7%;
}

.botoncabe4-white:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  height: 100.5%;
  width: 7%;
}

.botoncabe5-white:hover {

  -webkit-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.72);
  height: 100.5%;
  width: 7%;
}

.header-white {
  background-color: #45a564;
  border-bottom: 2px solid #03692e;

  height: 20%;
  min-height: 20%;
  width: 100%;
  z-index: -1;
}

.Error2-white {
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5em;
  font-size: 20px;
}

.lista-white {
  background-size: contain;
  border-color: rgb(22, 1, 4);
  margin-left: 0;
  width: auto;
  height: 25px;
  min-width: 200px;
  text-align: center;

  color: rgb(0, 0, 0);
  cursor: default;
}

.perfil-white {
  float: left;
  border-radius: 30px;
  margin-top: 2.5%;
  margin-left: 4.5%;
  height: 50%;
  aspect-ratio: 1;
  background-position: center;
  background-image: url('../../public/usuario.png');
  background-size: cover;

}



.inputt-white::placeholder {
  text-align: center;
  color: rgb(0, 0, 0);

  font-size: 15px;
}

.selec-white:hover {
  background-color: #8f3443;
}

.contSelector {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 50%;
  width: auto;
  overflow: auto;
  margin-left: 30px;
}

.contSelector::-webkit-scrollbar {
  width: 10px;
}

.contSelector::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}

.contSelector::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

.agregar {
  background-image: url(../../public/descargar.png);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 22%;
  left: 35%;
  cursor: pointer;
}

.modal-overlay-prestamo {
  border: #000000 3px solid;
  border-radius: 30px;
  width: 22%;
  height: 60%;
  background: #6b171a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-overlay-prestamo-white {
  border: #000000 3px solid;
  border-radius: 30px;
  width: 22%;
  height: 60%;
  background: #6b171a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-overlay-prestamo .close-button {
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: -26%;
  margin-left: 18%;
  font-size: 20px;
  cursor: pointer;
  background-image: url(../../public/cerrar.png);
}

.modal-overlay-prestamo .inputt {
  margin-top: 2%;
}

.modal-overlay-prestamo .botonto {
  margin-top: 3%;
}

.modal-overlay-prestamo .h1 {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 5%;
}

.modal-overlay-prestamo .h2 {
  font-size: 20px;
  margin-top: 3%;
}

.fondoFactura {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalFactura {
  background-color: white;
  height: auto;
  width: 40%;
max-height: 90%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;

}

.tableFactura1 {
  width: 100%;
  border-collapse: collapse;
}

.listaFactura {
  width: 50%;
  padding: 5px;
  white-space: nowrap;
}

.tableFactura2 {
  width: 100%;
  height: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

.modalFactura::-webkit-scrollbar {
  width: 10px;
}

.modalFactura::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}

.modalFactura::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}

.selecContainer,
.inputContainer {
  margin: 5px;
  /* Espacio entre los elementos */
}

.selecInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Espacio entre el contenedor de selección y entrada y el botón */
}

.divSelec {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buttonContainer {
  display: grid;
  grid-template-columns: auto 5px; /* El cuadrado rojo tiene 5px de ancho */
  grid-column-gap: 10px; /* Espacio entre el cuadrado y el botón */
  align-items: center;
}


.contSelector .h1 {
  color: red;
  margin-top: -10px;
}
.close-button-cont {
  margin-top: -11px;
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../public/cerrar.png);
}
.close-button-cont:hover {
  background-image: url(../../public/cerrarhover.png);
}